@import "reset";
@import "mixins";


/*
// :::Type
// ::: "goudy-old-style"
//-------------------------------------------------- */

@font-face {
	font-family: "Maison Neue Mono";
	src:
		url("/fonts/maisonneue-mono-webfont.woff2") format("woff2"),
		url("/fonts/maisonneue-mono-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$mono: "Maison Neue Mono", "Andale Mono", AndaleMono, "Consolas", consolas, monospace;

body { font-family: $mono; line-height: 1.6; }
h1 { font-size: 5rem; }
h2 { font-size: 3.8rem; }
h3 { font-size: 2.1rem; }
h4, p, li, input { font-size: 1.25rem; }
h5 { font-size: 1.25rem; }

h1, h2, h3, h4 { font-weight: 500; }

p + p { margin-top: 1rem; }

strong { font-weight: 700; }
em { font-style: italic; }

a { cursor: pointer; }
a { transition: .1s; }



/*
// :::By Template
//-------------------------------------------------- */

/*@import "afterglow";*/
@import "realtime";

body.songkickTour {
	background-color: black;
}

/*
// :::Shared
//-------------------------------------------------- */

@import "mailing";

$red: rgb(254, 83, 63);
$lightGrey: rgb(230, 230, 230);
$darkGrey: rgb(38, 38, 38);

$beige: rgb(239, 230, 214);
$tan: rgb(255, 238, 236);

section {
	position: relative; z-index: 50;

	& > img {
		display: block;
	}

	img.full {
		min-width: 100%;
	}
}

section.full-height {
	height: 120rem;
	max-height: 100vh;
}

.thinking__dots {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.thinking__dot {
	animation: dot-blink .75s infinite;
	animation-direction: alternate;
	display: inline-block;
	opacity: 1;
	width: .8rem;
	height: .8rem;
	background-color: currentColor;
	border-radius: 1rem;
	margin: 0 .5rem;
}

@keyframes dot-blink {
	from { opacity: 0; }
	to { opacty: 1; }
}

@for $i from 1 to 3 {
	.thinking__dot:nth-of-type($i) {
		animation-delay: resolve($i * .2s);
	}
}

.scrollTo {
	cursor: pointer;
}


/*
// :::Header
//-------------------------------------------------- */

$header-height: 16rem;

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: fixed;
	padding: 3rem;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	color: white;
	z-index: 200;
	transition: .3s;
	overflow: hidden;
	transform: translateY(calc(-100% + 1rem));
	height: calc($header-height + 6rem);

	.ex {
		opacity: 0;
		display: block;
		cursor: pointer;
	}

	.header__socials { display: none; }

	.signup, .header__info {
		opacity: 0;
		margin: 0;
		transform: translateY(-1rem);
		z-index: 2;
		transition: .3s;
		color: white;
	}

	.header__button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		cursor: pointer;
	}

	.signup, .ex { margin-top: 2rem; }
}


.header__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__socials h4 {
	display: inline-block;
	margin-right: 1.5rem;
	line-height: 2rem;

	a:hover { color: white; }
}

header.in-view, header.open {
	transform: none;

	.signup, .header__info {
		opacity: 1;
		transform: none;
	}

	.ex {
		opacity: 1;
	}
}


/*
// :::Misc Shared
//-------------------------------------------------- */

.grid {
	display: flex;
	height: 100%;
}

.grid__item {
	background-size: cover;
	background-position: center;
	position: relative;
}

.grid__row {
	display: flex;
	position: relative;
	flex-grow: 1;
}

.grid__column {
	height: 100%;
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.grid__item {
	flex-grow: 1;
}

.logotype-repeater {
	@mixin abs-full-size;
	background-size: contain;
	background-repeat: repeat-x;
}



/*
// :::Purchase
//-------------------------------------------------- */

section.purchase {
	height: 43vw;
	display: flex;
}

.packshots, .purchase__info {
	position: relative;
	flex-basis: 50%;
}

.packshots .packshot {
	@mixin abs-full-size;
	z-index: 5;
	transition: .3s;
	background-size: cover;
	background-position: center;
}

.packshot--reverse {
	z-index: 10;
	opacity: 0;
}

.packshots:hover {
	.packshot--reverse { opacity: 1; }
}

.purchase__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem;
	background-color: black;
	color: white;
	text-align: center;
}

.purchase__button {
	display: inline-block;
	margin-top: 3rem;
	padding: 1.8rem 1rem;
	min-width: 11rem;
	border: 1px solid;
	align-self: center;

	&:hover {
		background-color: white;
		color: black;
	}
}


/*
// :::Logo
//-------------------------------------------------- */

section.logo {
	@mixin flex-center;
	background-image: url('/images/texture-black.jpg');
	background-size: cover;
	background-position: center;
	height: 57vw;

	.logotype {
		width: calc(100% - 4rem);
		max-width: 80rem;
	}
}


/*
// :::Photo Strip
//-------------------------------------------------- */

section.photo-strip {
	background: black;
	display: flex;
	justify-content: space-around;
	padding: 0 1.5rem;

	.portrait {
		flex-basis: 25%;
		min-width: 0px;
		padding: 3rem 1.5rem;
	}

	img { display: block; }

	&.flip .portrait img { transform: rotate(180deg); }
}

/*
// :::Player
//-------------------------------------------------- */

section.player {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-transform: uppercase;
	user-select: none;

	.screen {
		@mixin abs-full-size;
		pointer-events: none;
		z-index: -1;
		background-image: url("/images/screen.png");
		background-size: 1600px;
		display: block;
	}


	.screen.overlay {
		z-index: 2;
		mix-blend-mode: soft-light;
	}

	iframe {
		display: none;
		position: relative;
		width: calc(100% - 6rem);
		margin: 0 auto;
		height: 45%;
		max-width: 70rem;

		z-index: 100;
	}

	&.fallback {
		.player__buttons { display: none; }
		iframe { display: initial; }
	}
}

@media screen and (min-width: 1440px) {
	section.player .screen { background-size: 100%; }
}


.player__inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.player__pulse {
	@mixin abs-full-size;
	background-color: $red;
	z-index: 0;
}

.player__scrubber {
	position: absolute;
	right: 100%;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: $red;
	cursor: grab;

	&.dragging {
		cursor: grabbing;
	}


	.handle {
		position: absolute;
		z-index: 100;
		height: 100%;
		right: 0;
		width: 1.5rem;
		background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(38, 38, 38, .6) 100%);
		cursor: pointer;
		transition: .2s;

		&:hover {
			background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(38, 38, 38, 1) 100%);
		}
	}
}



.player__playpause {
	@mixin abs-center;
	@mixin invisible;
	z-index: 20;
	width: 12rem;
	height: 12rem;
	transition: .3s;
}

.ready .player__playpause {
	@mixin visible;
}

.player__controls {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: rgba(0, 0, 0, 0);
	stroke: black;
	stroke-width: 3;
	transition: fill .2s ease-out;
	cursor: pointer;
}

.player__playpause:hover .player__controls {
	fill: rgba(0, 0, 0, 1);
}

.player__controls.pause {
	@mixin invisible;
}

.playing {
	.player__pulse {
		background-color: $red;
		/* animation: blink 150ms steps(1, end) infinite; */
	}

	.player__controls.pause {
		@mixin visible;
		transform: none;
	}

	.player__controls.play {
		@mixin invisible;
	}
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

.player__header, .player__footer {
	pointer-events: none;
	position: relative;
	z-index: 10;
	padding: 3rem;
	display: flex;
	justify-content: space-between;

	h4 { flex-basis: 33%; }
	h4:nth-of-type(1) { text-align: left; }
	h4:nth-of-type(2) { text-align: center; }
	h4:nth-of-type(3) { text-align: right; }

	h4 a:hover { color: white; }
}

.player__header h4 { pointer-events: initial; }


/*
// :::Tour
//-------------------------------------------------- */

section.tour {
	/* display: none; */
	padding: 0;
	background: $lightGrey;
	color: black;
}

li.tourdate {
	padding: 0 3rem;
	transition: .3s;

	&:hover {
		color: white;
		background: $darkGrey;
	}

	+ li {
		border-top: 1px solid rgba(0, 0, 0, .1);
	}

	.arrow {
		display: inline-block;
		margin-left: .2em;
		transform: rotate(-225deg) translate(.3em, .3em);
	}
}

li.tourdate a {
	display: flex;
	justify-content: space-between;
	transition: 0s;
	padding: 1.7rem 0;
	width: 100%;

	span.place {
		display: flex;
		justify-content: space-between;
		padding: 0 calc(30% - 20rem);
		flex-basis: calc(100% - 8rem - 13rem);
	}

	span.date { flex-basis: 8rem; text-transform: uppercase; }
	/* span.venue, span.location { flex-basis: 20rem; } */
	span.ticket-link { flex-basis: 13rem; text-align: right; }
}


/*
// :::Jacques
//-------------------------------------------------- */

section.jacques {
	.text-repeater {
		background-image: url("/images/svgs_jacques.svg");
	}
}



/*
// :::Extend Mailing
//-------------------------------------------------- */

/*
// :::Footer
//-------------------------------------------------- */

section.footer {
	padding: 7rem 0 4.5rem 0;
	background: $lightGrey;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1rem solid black;

	.logo { width: 5rem; }
}


.footer__socials {
	margin: 6rem 0;
	display: flex;
	width: calc(100% - 2rem);
	max-width: 53rem;
	justify-content: space-between;

	h4 a:hover { color: rgba(102, 102, 102); }
}

@import "queries";

/* debug */

/* .text-repeater, .screen, canvas { display: none; } */
/*
// :::Pre Launch
//-------------------------------------------------- */

.placeholder {
	.scrollTo { cursor: initial; }
}
