@import "reset";
@import "mixins";

https://s3.amazonaws.com/luckymedia/_RELEASES/JG-STEMS-/02+-+Feel+Infinite+%5B135bpm%5D/FI+-+808+Snare.aif
http://luckymedia.s3.amazonaws.com/_RELEASES/JG-STEMS-/02%20-%20Feel%20Infinite%20%5B135bpm%5D/FI%20-%20808%20Snare.aif
https://luckymedia.s3.amazonaws.com/_RELEASES/JG-STEMS-/02%20-%20Feel%20Infinite%20%5B135bpm%5D/FI%20-%20808%20Snare.aif
/*
// :::Type
// ::: "goudy-old-style"
//-------------------------------------------------- */

@font-face {
	font-family: "Maison Neue Mono";
	src:
		url("/fonts/maisonneue-mono-webfont.woff2") format("woff2"),
		url("/fonts/maisonneue-mono-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$mono: "Maison Neue Mono", "Andale Mono", AndaleMono, "Consolas", consolas, monospace;

body { font-family: $mono; line-height: 1.6; }
h1 { font-size: 2.6rem; }
h2 { font-size: 3.8rem; }
h3 { font-size: 2.1rem; }
h4, p, li, input, h1 .small { font-size: 1.25rem; }
h5 { font-size: 1.25rem; }

h1, h2, h3, h4 { font-weight: 500; }

p + p { margin-top: 1rem; }

strong { font-weight: 700; }
em { font-style: italic; }

a { cursor: pointer; }
a { transition: .1s; }

span.small { margin-left: 1em; }

@media screen and (max-width: 550px) {
	h1 { font-size: 2.2rem }
	h3 { font-size: 1.6rem }
	h4, p, li, input, h1 .small { font-size: 1.2rem; }
	h5 { font-size: 1rem; }
}


/**
 * Main
 */

body {
	background-color: black;
	color: white;
	padding: 5rem;
}

.column {
	width: 100rem;
	max-width: 100%;
}

pre {
	font-family: 'Roboto Mono', $mono;
	line-height: 110%;
}

/**
 * Colors
 */

$red: #d80000;
$redOrange: #d62d26;
$blue: #00ffff;
$yellow: #edff49;
$mint: #3dba47;
$pink: #ff8cad;
$green: #00f247;
$cream: #f2ff77;
$purple: #496bd1;

.red { color: $red; }
.redOrange { color: $redOrange; }
.blue { color: $blue; }
.yellow { color: $yellow; }
.mint { color: $mint; }
.pink { color: $pink; }
.green { color: $green; }
.cream { color: $cream; }
.purple { color: $purple; }

/**
 * Groups
 */

h1.title {
 text-transform: uppercase;
 margin-bottom: .5em;
}

.groups {
	margin-top: 5rem;

	ol {
		margin-top: 5rem;

		li {
			counter-increment: items;
		}

		li:before {
			content: "0" counter(items)" - ";
		}

		li:nth-of-type(n+10):before {
			content: counter(items)" - ";
		}

		p {
			margin: 0 auto;
			white-space: nowrap;
		}

		p:before {
			content: '-------';
			opacity: 0;
			user-select: none;
		}
	}

	.bpm {
		float: right;
	}

}

.group {
	width: 35rem;

	&:nth-of-type(9n - 8) { color: $yellow; }
	&:nth-of-type(9n - 7) { color: $redOrange; }
	&:nth-of-type(9n - 6) { color: $mint; }
	&:nth-of-type(9n - 5) { color: $blue; }
	&:nth-of-type(9n - 4) { color: $pink; }
	&:nth-of-type(9n - 3) { color: $red; }
	&:nth-of-type(9n - 2) { color: $cream; }
	&:nth-of-type(9n - 1) { color: $purple; }
	&:nth-of-type(9n) { color: $green; }
}

.group + .group {
	margin-top: 2rem;
}

.group__stem {

	a {
		position: relative;
		display: block;
	}

	a:before {
		content: "[ download ]";
		display: none;
	}

	a:hover {
		&:before {
			display: inline-block;
		}

		span {
			display: none;
		}
	}
}

.remixes {
	margin-top: 5rem;

}

.remix {
	text-transform: uppercase;
	white-space: nowrap;

	a {
		text-decoration: underline;
	}
}

.legal {
	margin-top: 5rem;
}
